<!DOCTYPE html>
<html>
  <head>
    <title>Nick's List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

  </head>

  <body>

  <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Menu</span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="<%=root_path %>">Code Review</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    
                    </li>

                    <li class="nav-item">
                        <%= link_to "About", about_page_path, class: "nav-link" %>
                    </li>

                    <% if signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "nav-link" %>
                    </li>

                    <li class="nav-item">
                        <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
                    </li>

                    </ul>

                    <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>

                    <li class="nav-item">
                        <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
                    </li>
                    </div>
                    <% end %>

                
                    
                </ul>
            </div>
        </div>
    </nav>


  	<div id="flash-messages">
	  <% flash.each do |key, msg| %>
	  	<%= content_tag :div, msg, :id => key %>
	  <% end %>
	</div>

    <%= yield %>

     <!-- Footer -->
    <footer>
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">⋅</li>
                <li class="list-inline-item">
                    <a href="#about">About</a>
                </li>
                <li class="footer-menu-divider list-inline-item">⋅</li>
                <li class="list-inline-item">
                    <a href="#services">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">⋅</li>
                <li class="list-inline-item">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <p class="copyright text-muted small">Copyright © Nick 2017. All Rights Reserved</p>
        </div>
    </footer>
  </body>
</html>
